@import '../../assets/css/pattern.css';

.img_aside{
    margin-left: -0.1em;
    margin-top: 6em;
}
.fixed{
    position: fixed;
}
.line_aside{
    margin-left: 0.7em;
    height: 60vh;
    display: flex;
    justify-content: flex-end;
    width: 87%;
}

.logo_aside{
    transform: rotate(-90deg);
    width: 200px;
    height: 100px;
}

hr{ 
    background: var(--greenDark);
    border:         none;
    border-left:    1px solid hsla(200, 10%, 50%,100);
    height:         80%;
    width:          1px;       
}

@media screen and (max-width: 375px){
    aside{
        display: none;
    }
}